/**
* 
*   Projeto: Desafio 01 - Tela de login responsiva
*   Desenvolvido por: David Nascimento Melo
*   E-mail: dnmnascimento@outlook.com
*   Github: @dd-nascimento
*
**/

/** IMPORTS **/

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


/** Declaração de código CSS */

*{
    margin: 0;
	padding: 0;
	border: 0;
    font-family: "Roboto", sans-serif;
}

body{
    background: linear-gradient(to right, #015CF5 0%, 50%, #254AA5 100%);
    font-optical-sizing: auto;
    display: block;
}

.login{
    height: 200%;
    width: 35%;
    background-color:rgba(217, 217, 217, 0.8);
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    padding:40px
}

.header{
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 15px;
    padding: 10px;
    align-items: center;
}

.formu-login, .others{
    margin: 15px;
}

.others{
    padding-top: 20px;
    text-align: center;
    align-items: center;
}

.others a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}

input{
    padding: 10px;
    margin-left: 10px;
    width: 300px;
    border: none;
    outline: none;
    border-radius: 5px;
}

.titulo{
    font-size: 20px;
    font-weight: bolder;
    text-align: center;
}

/******************** Animação ******************/

.others a:hover{
    transition: 0.5;
    cursor: pointer;
    text-decoration: underline;
    color: white;

}

/*------------------- Responsividade ------------*/

@media (max-width: 768px) {
  .login{
    width: 80%;
    padding: 1.5rem;
  }
}

@media (max-width: 480px) {
  .login {
    width: 90%; 
    padding: 1rem;
  }
}